/* --- Root Styles --- */

/* Root container */
.beam-advisor {
  height: 100%;
  width: 100%;
}



/* --- Utilities --- */

/* White text */
.beam-advisor .text-white {
  color: white;
}

/* Centered text */
.beam-advisor .text-center {
  text-align: center;
}

/* Float right */
.beam-advisor .float-right {
  float: right;
}

/* Display inline */
.beam-advisor .display-inline {
  display: inline-block;
}

/* Give the element a background */
.beam-advisor .bg-dark {
  background-image: url('/ui/modules/apps/beamadvisor/images/texture2.png');
}



/* --- Frames & Outer Containers, Logo --- */

/* Outer frame */
.beam-advisor .frame-outer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 6px solid #ffffff3d;
  border-radius: 18px;
}

/* .hidden can be added to make the border transparent */
.beam-advisor .frame-outer.hidden {
  border-color: transparent !important;
}

/* Inner frame */
.beam-advisor .frame-inner {
  background-image: url('/ui/modules/apps/beamadvisor/images/texture.png');
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding: 10px;
  margin: 0;
  border-radius: 10px;
}

/* .active must be given to the inner frame if the outer frame has .hidden */
/* This gives the inner frame a lighter background, and sets the correct height */
.beam-advisor .frame-inner.active {
  background-image: url('/ui/modules/apps/beamadvisor/images/texture2.png') !important;
  border-radius: 5px !important;
  height: calc(100% - 80px) !important;
}

/* ... it also ups the transparency of the top, middle and bottom bars */
.beam-advisor .frame-inner.active .top-bar,
.beam-advisor .frame-inner.active .middle-bar,
.beam-advisor .frame-inner.active .bottom-bar {
  opacity: 0.75 !important;
}

/* ...the display container */
.beam-advisor .frame-inner.active .display {
  height: calc(100% - 12px) !important;
}

/* ...and the content container */
.beam-advisor .frame-inner.active .content-container {
  min-height: calc(100% - 100px) !important;
  height: calc(100% - 100px) !important;
  max-height: calc(100% - 100px) !important;
}

/* Display container */
/* Contains the advisor's content (the content that dynamically changes) */
.beam-advisor .display {
  width: 100%;
  height: calc(100% - 54px);
}

/* Logo container */
/* Contains the logo */
.beam-advisor .logo {
  width: 100%;
  height: 30px;
  margin: 0;
}

/* p used to center the logo */
.beam-advisor .logo p {
  text-align: center;
}

/* img tag inside the p is the logo itself */
.beam-advisor .logo p img {
  width: auto;
  height: 20px;
  margin-top: 5px;
}

/* .hidden can be added to hide it */
.beam-advisor .logo.hidden,
.beam-advisor .logo.hidden p,
.beam-advisor .logo.hidden p img {
  display: none !important;
  visibility: hidden !important;
}



/* --- Display (Inner) Containers --- */

/* Top Bar */
/* Holds the speed, gear/damage/fuel/temp, day and time */
.beam-advisor .top-bar {
  background: rgb(68,68,68);
  background: linear-gradient(180deg, rgba(45,45,45,1) 0%, rgba(82,82,82,1) 50%, rgba(45,45,45,1) 100%);
  width: 100%;
  height: 30px;
  opacity: 0.9;
}

/* Middle Bar */
/* Holds the active tab label */
.beam-advisor .middle-bar {
  background: rgb(23,23,23);
  background: linear-gradient(180deg, rgba(23,23,23,1) 0%, rgba(25,25,25,1) 50%, rgba(31,31,31,1) 100%);
  width: 100%;
  height: 30px;
  opacity: 0.9;
}

/* Make all the p elements in the top & middle bars inline */
.beam-advisor .top-bar p,
.beam-advisor .middle-bar p {
  display: inline-block;
}

/* Content Container */
/* Contains the content of the active (selected) tab (ie. Navigation) */
.beam-advisor .content-container {
  width: 100%;
  min-height: calc(100% - 100px);
  height: calc(100% - 100px);
  max-height: calc(100% - 100px);
  overflow-y: hidden;
}

/* .pattern can be added to enable the background pattern (WIP) */
/* Pattern made with https://www.magicpattern.design/tools/css-backgrounds */
/*.beam-advisor .content-container.pattern #tab-navigation {
  opacity: 0.9;
  background-image: linear-gradient(135deg, #2424249d 25%, transparent 25%), linear-gradient(225deg, #2424249d 25%, transparent 25%), linear-gradient(45deg, #2424249d 25%, transparent 25%), linear-gradient(315deg, #2424249d 25%, #2424249d 25%);
  background-position:  9px 0, 9px 0, 0 0, 0 0;
  background-size: 9px 9px;
  background-repeat: repeat;
}*/

/* Bottom Bar */
/* Contains the buttons for switching between the active (selected) tab */
.beam-advisor .bottom-bar {
  background: rgb(68,68,68);
  background: linear-gradient(180deg, rgba(45,45,45,1) 0%, rgba(82,82,82,1) 50%, rgba(45,45,45,1) 100%);
  width: 100%;
  height: 50px;
  display: inline-block;
  opacity: 0.9;
}



/* --- Top Bar/Middle Bar Labels --- */

/* Speed display */
.beam-advisor .top-bar #speed {
  background: rgb(70, 70, 70);
  background: linear-gradient(180deg, rgb(46, 46, 46) 0%, rgb(85, 85, 85) 50%, rgb(46, 46, 46) 100%);
  color: white;
  font-weight: 800;
  text-align: center;
  max-width: 80px !important;
  max-height: 30px !important;
  padding: 4px 24px;
  margin: 0;
  transition: background .3s ease-in-out;
}

/* Speed display can have .over-min, .over-mid or .over-max applied for varying levels of red to indicate the car is exceeding the speed limit */
.beam-advisor .top-bar #speed.over-min {
  background: rgb(82, 42, 42);
  background: linear-gradient(180deg, rgb(82, 42, 42) 0%, rgb(126, 64, 64) 50%, rgb(82, 42, 42) 100%);
}

.beam-advisor .top-bar #speed.over-mid {
  background: rgb(94, 22, 22);
  background: linear-gradient(180deg, rgb(94, 22, 22) 0%, rgb(138, 33, 33) 50%, rgb(94, 22, 22) 100%);
}

.beam-advisor .top-bar #speed.over-max {
  background: rgb(124, 23, 23);
  background: linear-gradient(180deg, rgb(124, 23, 23) 0%, rgb(175, 28, 28) 50%, rgb(124, 23, 23) 100%);
}

/* Gear display */
.beam-advisor .top-bar #gear {
  color: #E4AA27;
  font-weight: 800;
  text-align: center;
  max-height: 30px !important;
  margin: 0;
  margin-left: 8px;
}

/* Damage, fuel and temp displays */
.beam-advisor .top-bar #damage,
.beam-advisor .top-bar #fuel,
.beam-advisor .top-bar #temp {
  color: white;
  font-weight: 800;
  text-align: center;
  max-height: 30px !important;
  margin: 0;
  margin-left: 12px;
}

/* Image properties for gear, damage, fuel and temp labels */
.beam-advisor .top-bar #gear img,
.beam-advisor .top-bar #damage img,
.beam-advisor .top-bar #fuel img,
.beam-advisor .top-bar #temp img {
  width: auto;
  height: 20px;
  vertical-align: middle;
  margin-top: -2px;
  margin-bottom: 2px;
}

/* Day and time display */
.beam-advisor .top-bar #dayTime {
  background: rgb(70, 70, 70);
  background: linear-gradient(180deg, rgb(46, 46, 46) 0%, rgb(85, 85, 85) 50%, rgb(46, 46, 46) 100%);
  color: white;
  font-weight: 800;
  text-align: center;
  max-width: 160px !important;
  max-height: 30px !important;
  padding: 4px 24px;
  margin: 0;
  float: right;
}

/* Active (selected) tab name display */
.beam-advisor .middle-bar #tabName {
  color: #E4AA27;
  font-weight: 800;
  text-align: center;
  max-width: 160px !important;
  max-height: 30px !important;
  padding: 4px 24px;
  margin: 0;
}



/* --- Tabs --- */

/* Hide all tabs... */
.beam-advisor .content-container .tab {
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

/* ...apart from the active one */
.beam-advisor .content-container .tab.active {
  display: block !important;
  position: relative;
}

/* Provides styling for content rows */
.beam-advisor .row {
  color: white;
  padding: 4px 20px;
  margin: 0;
  overflow-x: hidden;
}

/* Provides styling for the short message box */
.beam-advisor .shortMessageBox {
  color: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}



/* --- Buttons --- */

/* Navigation button (used in the bottom bar) */
.beam-advisor .nav-button {
  background: transparent;
  color: white;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  padding-top: 4px;
  border-bottom: 4px solid transparent !important;
  z-index: 100;
}

/* Navigation button image styling */
.beam-advisor .nav-button img {
  width: auto;
  height: 32px;
  vertical-align: middle;
}

/* Navigation button .active class */
.beam-advisor .nav-button.active {
  border-bottom: 4px solid #FF6600 !important;
}

/* Navigation button :hover and :active states */
.beam-advisor .nav-button:hover,
.beam-advisor .nav-button:active {
  opacity: 0.7;
}

/* UI button (used in the configuration tab) */
.beam-advisor .ui-button {
  background: #3d3d3d;
  color: white;
  padding: 2px 6px; 
  border: none;
  outline: none;
  border-radius: 5px;
}

/* Navigation UI .active class */
.beam-advisor .ui-button.active {
  background: #ee9153;
}

/* UI button :hover and :active states */
.beam-advisor .ui-button:hover,
.beam-advisor .ui-button:active {
  opacity: 0.8;
}



/* --- Navigation --- */

/* Navigation root and wrapper */
.beam-advisor #navigation-root,
.beam-advisor .navigation-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Apply the bounce animation */
.beam-advisor .bounce {
  animation: bounce 1s cubic-bezier(0.4,0.1,0.2,1) both;
}

/* General class that covers all speed limit designs */
.speed-limit-sign {
  top: 20px;
  left: 22px;
}

/* Speed limit display - European/ETS2 style */
.ets2-speed-limit {
  background: white;
  color: black;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 6px solid #FD0703;
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Specifically for ETS2 style */
  top: 20px;
  left: 20px;
}

/* Speed limit display - US/ATS style */
.ats-speed-limit {
  background: white;
  color: black;
  font-weight: bold;
  width: 35px;
  height: 35px;
  border-radius: 2px;
  border: 2px solid #999999;
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Speed limit display - actual US style */
.us-speed-limit {
  background: white;
  color: black;
  font-weight: bold;
  width: 35px;
  max-width: 35px !important;
  height: 55px;
  border-radius: 2px;
  border: 2px solid #999999;
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.us-speed-limit .info {
  text-transform: uppercase;
  font-size: 11px;
}



/* --- Animations --- */

/* Fade animation */
@keyframes fade {
  from {
      opacity: 0;
      visibility: hidden;
  }

  to {
      opacity: 1;
      visibility: visible;
  }
}

/* Bounce animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-4px); }
  60% { transform: translateY(-2px); }
}



/* --- Low Space Mode --- */

/* Reduce horizontal padding of speed, day/time displays and active tab label */
.beam-advisor.low-space-mode #speed,
.beam-advisor.low-space-mode #dayTime,
.beam-advisor.low-space-mode #tabName {
  padding: 4px 8px;
}

/* Reduce left margin (spacing) of gear, damage, fuel and temp displays */
.beam-advisor.low-space-mode #gear,
.beam-advisor.low-space-mode #damage,
.beam-advisor.low-space-mode #fuel,
.beam-advisor.low-space-mode #temp {
  margin-left: 8px;
}

/* Reduce horizontal padding of content rows */
.beam-advisor.low-space-mode .row {
  padding: 4px 8px;
}

/* Reduce button & icon size in bottom bar */
.beam-advisor.low-space-mode .nav-button {
  width: 40px;
}

.beam-advisor.low-space-mode .nav-button img {
  width: auto;
  height: 24px !important;
}



/* --- Hiding --- */

/* .hide can be added to hide the entire UI, if the player gets out of a vehicle */
.beam-advisor.hide {
  display: none !important;
  visibility: hidden !important;
}

/* .gps-only can be added to hide everything but the content container */
.beam-advisor.gps-only * {
  background-color: transparent !important;
  color: transparent !important;
  border-color: transparent !important;
  background-image: none !important;
}

.beam-advisor.gps-only img {
  display: none !important;
  visibility: hidden !important;
}

.beam-advisor.gps-only .nav-button.active {
  border-color: transparent !important;
  border-bottom: 4px solid transparent !important;
}

/* .gone can be added to hide the UI, but doesn't make it uninteractable */
.beam-advisor.gone * {
  opacity: 0.1;
}

.beam-advisor.gone .frame-outer {
  border: none !important;
  border-bottom: 12px solid black !important;
  border-radius: 0 !important;
}

/* Hide speed limits not in use */
.ets2-speed-limit.hide-speed-limit,
.ats-speed-limit.hide-speed-limit,
.us-speed-limit.hide-speed-limit {
  display: none !important;
  visibility: hidden !important;
}

/* Hide scroll bar in GPS only mode */
.beam-advisor .content-container .tab.active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  overflow-y: hidden !important;
}